<!DOCTYPE html>
<html>
  <head>
    <title>Superhero Creation!</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form action="/teams" method="post">
      <label for="team_name">Team Name: </label>
      <input type="text" name="team_name" id="team_name"><br>
      <label for="team_motto">Team Motto: </label>
      <input type="text" name="team_motto" id="team_motto"><br>
      <h1>Hero 1</h1>
      <label for="member1_name">Hero's Name: </label>
      <input type="text" name="member1_name" id="member1_name"><br>
      <label for="member1_power">Hero's Power: </label>
      <input type="text" name="member1_power" id="member1_power"><br>
      <label for="member1_bio">Hero's Biography: </label>
      <input type="text" name="member1_bio" id="member1_bio"><br>
      <h1>Hero 2</h1>
      <label for="member2_name">Hero's Name: </label>
      <input type="text" name="member2_name" id="member2_name"><br>
      <label for="member2_power">Hero's Power: </label>
      <input type="text" name="member2_power" id="member2_power"><br>
      <label for="member2_bio">Hero's Biography: </label>
      <input type="text" name="member2_bio" id="member2_bio"><br>
      <h1>Hero 3</h1>
      <label for="member3_name">Hero's Name: </label>
      <input type="text" name="member3_name" id="member3_name"><br>
      <label for="member3_power">Hero's Power: </label>
      <input type="text" name="member3_power" id="member3_power"><br>
      <label for="member3_bio">Hero's Biography: </label>
      <input type="text" name="member3_bio" id="member3_bio"><br><br>
      <input type="submit" id="Submit">
    </form>
  </body>
</html>

