<h3>Create a Team and Heroes!</h3>
<form method='post' action='/team'>
  <ul>
    <li>
      <label for='t_name'>Team Name: </label>
      <input type='text' id='t_name' name='team[name]'>
    </li>
    <li>
      <label for='t_motto'>Team Motto: </label>
      <input type='text' id='t_motto' name='team[motto]'>
    </li>
  </ul>

  <h5>Hero 1</h5>
  <ul>
    <li>
      <label for='member1_name'>Hero's Name: </label>
      <input type='text' id='member1_name' name='team[heroes][][name]'>
    </li>
    <li>
      <label for='member1_power'>Hero's Power: </label>
      <input type='text' id='member1_power' name='team[heroes][][power]'>
    </li>
    <li>
      <label for='member1_bio'>Hero's Biography: </label>
      <input type='text' id='member1_bio' name='team[heroes][][bio]'>
    </li>
  </ul>

  <h5>Hero 2</h5>
  <ul>
    <li>
      <label for='member2_name'>Hero's Name: </label>
      <input type='text' id='member2_name' name='team[heroes][][name]'>
    </li>
    <li>
      <label for='member2_power'>Hero's Power: </label>
      <input type='text' id='member2_power' name='team[heroes][][power]'>
    </li>
    <li>
      <label for='member2_bio'>Hero's Biography: </label>
      <input type='text' id='member2_bio' name='team[heroes][][bio]'>
    </li>
  </ul>

  <h5>Hero 3</h5>
  <ul>
    <li>
      <label for='member3_name'>Hero's Name: </label>
      <input type='text' id='member3_name' name='team[heroes][][name]'>
    </li>
    <li>
      <label for='member3_power'>Hero's Power: </label>
      <input type='text' id='member3_power' name='team[heroes][][power]'>
    </li>
    <li>
      <label for='member3_bio'>Hero's Biography: </label>
      <input type='text' id='member3_bio' name='team[heroes][][bio]'>
    </li>
  </ul>

  <input type='submit' id='submit'>
  
</form>
